@(issueList: List[Issue])

@import views.html.admin.admin_navbar
@import play.Play

@main("Admin - Issues") {
	@admin_navbar(Com.ADMIN_PAGE_NAMES(2))
} {
<script>
	var Routes = {
		saveIssue: "@controllers.routes.Admins.saveIssue()"
	};
</script>

<div ng-controller="IssueController">
	<section class="content">
		<div class="row">
			<div class="col-md-12">
	          <div class="box">
	            <div class="box-header">
	              <h3 class="box-title">Issues</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
	                <table id="datatable" class="table table-bordered table-striped clear clickable">
	                	<thead>
							<tr >
								<th>Id</th>
								<th>Posted By</th>
								<th>Title</th>
								<th>Text</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
					    @for(issue <- issueList) {
					    	<tr>
					    		<td data-id>@issue.getId</td>
					    		<td data-postedBy>@issue.getPostedBy</td> 
					    		<td data-title>@issue.getTitle</td>
					    		<td data-text>@issue.getText</td>
					    		<td data-status>@issue.getStatus</td>
					    	</tr>
					    }
					    </tbody>
					</table>
	            </div>
	          </div>
	          <!-- /.box -->
	        </div>
	    </div>
    </section>
  	
    <!-- PRIMER ZA DODAVANJE EKSTERNOG FILE-a -->
    @_add_issue()
</div>
} {
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/style.min.css")">
} {
	<script type="text/javascript" src="@routes.Assets.versioned("javascripts/admin/issue.js")"></script>
}("blue")