@(issue: Issue,  issueResponseList: List[IssueResponse])

@import views.html.qa.qa_navbar
@import play.Play

@main("QA - Issue") {
	@qa_navbar(Com.QA_PAGE_NAMES(1))
} {

<div ng-controller="IssueController">
	<section class="content">
		<div class="row">
			<div class="col-md-12">
	          <div class="box-issue">
	            <div class="box-header">
	              <h3 class="box-title">@issue.getTitle</h3>
	              <div class="issue-status">@issue.getStatus</div>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
	                <div>@issue.getText</div>
	            </div>
	          </div>
	          <!-- /.box -->
	          @issueResponseList.map { issueResponse  =>
				<div class="box">
		            <div class="box-header">
		              <h3 class="box-title">Dejan Stankovic</h3>
		              <div class="comm-time">@Com.formatTimestamp(issueResponse.getTimestamp)</div>
		            </div>
		            <!-- /.box-header -->
		            <div class="box-body">
		                <div>@issueResponse.getContent</div>
		            </div>
		        </div>
		  	}

	        <div class="box">
                <div class="box-header">
          	    	<h3 class="box-title">New Message</h3>
                </div><!-- /.box-header -->
                <div class="box-body pad">
                	<form method="POST" action="@controllers.routes.QAUsers.submitResponse()">
	                  	<input type="hidden" value="@issue.getId" name="issueId">
	                    <textarea class="textarea col-md-12 form-control" placeholder="Place some text here" id="wysiwyg" name="comment"></textarea>
	                    <div style="clear:both"></div>
                    	<button class="btn btn-success pull-right" style="margin-top:10px">Send</button>
                  	</form>
                </div>
            </div>

	        </div>
	    </div>
    </section>
</div>
} {
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/style.min.css")">
} {
	@*<script type="text/javascript" src="@routes.Assets.versioned("javascripts/admin/projects.js")"></script>*@
}