@(issue: Issue,  issueResponseList: List[IssueResponse])

@import views.html.qa.qa_navbar
@import play.Play

@main("QA - Issue") {
	@qa_navbar(Com.QA_PAGE_NAMES(1))
} {
<script>
	var Routes = {
		changeIssueStatus: "@controllers.routes.QAUsers.changeIssueStatus()"
	};
	var Preset = {
		id:"@issue.getId",
		status: "@issue.getStatus"
	};
</script>
<div ng-controller="SingleIssueController">
	<section class="content">
		<div class="row">
			<div class="col-md-12">
	          <div class="box-issue">
	            <div class="box-header">
	            	<h3 class="box-title" style="float:left">@issue.getTitle</h3>
	            	<div class="issue-status" style="font-size: 16px;float: left;clear: left;padding-top: 10px;">{{status}}</div>
	            	<div>
	            	<a ng-if="status!='Solved'" class="issue-status btn btn-success" ng-click="solved()">Solved</a>
	            	<a ng-if="status!='Not Solved'" class="issue-status btn btn-danger" ng-click="notSolved()">Not Solved</a>
	            	</div>
	           		<span style="clear:left; float:left">#@issue.getId</span>
	            </div>

	            <div class="box-body">
	                <div>@issue.getText</div>
	            </div>
	          </div>

				@issueResponseList.map { issueResponse  =>  
	          	@if(issueResponse.getUserType.equals("Developer")) {   
					<div class="callout callout-green-border">
				}
				@if(issueResponse.getUserType.equals("Tester")) {
					<div class="callout callout-blue-border">
				}
						<div class="comm-time">@Com.formatTimestamp(issueResponse.getTimestamp)</div>
			        	<h4>@issueResponse.getUser</h4>
			        	<p>@issueResponse.getContent</p>
			    	</div>
				}  	

	        <div class="box">
                <div class="box-header">
          	    	<h3 class="box-title">New Message</h3>
                </div><!-- /.box-header -->
                <div class="box-body pad">
                	<form method="POST" action="@controllers.routes.QAUsers.submitResponse()">
	                  	<input type="hidden" value="@issue.getId" name="issueId">
	                    <textarea class="textarea col-md-12 form-control" placeholder="Place some text here" id="wysiwyg" name="comment" style="max-width: 100%;"></textarea>
	                    <div style="clear:both"></div>
                    	<button class="btn btn-success pull-right" style="margin-top:10px">Send</button>
                  	</form>
                </div>
            </div>

	        </div>
	    </div>
    </section>
</div>
} {
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/style.min.css")">
} {
	<script type="text/javascript" src="@routes.Assets.versioned("javascripts/qa/single-issue.js")"></script>
}()