@(projectList: List[Project])

@import views.html.qa.qa_navbar
@import play.Play

@main("QA - Projects") {
	@qa_navbar(Com.ADMIN_PAGE_NAMES(1))
} {
<script>
	var Routes = {
		saveProject: "@controllers.routes.Admins.saveProject()"
	};
</script>

<div ng-controller="ProjectController">
	<section class="content">
		<div class="row">
			<div class="col-md-12">
	          <h3 class="">Projects</h3>
	            <!-- /.box-header -->
	            <div class="row"> 
					    @for(project <- projectList) {
					    	<a  class="col-md-3" href="@controllers.routes.QAUsers.viewIssues(project.getId)">
					    		<div data-id="@project.getId">
						    		<div class="info-box">
				            			<span class="info-box-icon blueskin"><i class="fa fa-briefcase"></i></span>
					            		<div class="info-box-content">
					            			<span class="info-box-number">@project.getName</span>
					            		</div>
	          						</div>
						    	</div>
						    </a>
					    }
	            </div>
	          <!-- /.box -->
	        </div>
	    </div>
    </section>
  	
</div>
} {
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/style.min.css")">
} {
	<script type="text/javascript" src="@routes.Assets.versioned("javascripts/admin/projects.js")"></script>
}()