@(issue: Issue)

@import views.html.developer.developer_navbar
@import play.Play

@main("Developer - Issue") {
	@developer_navbar(Com.DEVELOPER_PAGE_NAMES(1))
} {
<script>
	var Routes = {
		saveProject: "@controllers.routes.Admins.saveProject()"
	};
</script>

<div ng-controller="IssueController">
	<section class="content">
		<div class="row">
			<div class="col-md-12">
	          <div class="box">
	            <div class="box-header">
	              <h3 class="box-title">Issues</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
	                <div><div class="btn btn-primary pull-right" style="margin-bottom:15px" data-toggle="modal" data-target="#add-issue-modal" data-add-project>@issue.getName</div><div class="clearfix"></div></div>
	                
	                <div></div>
	            </div>
	          </div>
	          <!-- /.box -->
	        </div>
	    </div>
    </section>
</div>
} {
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/style.min.css")">
} {
	<script type="text/javascript" src="@routes.Assets.versioned("javascripts/admin/projects.js")"></script>
}