@(issue: Issue)

@import views.html.developer.developer_navbar
@import play.Play

@main("Developer - Issue") {
	@developer_navbar(Com.DEVELOPER_PAGE_NAMES(1))
} {

<div ng-controller="IssueController">
	<section class="content">
		<div class="row">
			<div class="col-md-12">
	          <div class="box">
	            <div class="box-header">
	              <h3 class="box-title">@issue.getTitle</h3>
	              <div>@issue.getStatus</div>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
	                <div>@issue.getText</div>
	            </div>
	          </div>
	          <!-- /.box -->

	          <div class="box">
                <div class="box-header">
                  <h3 class="box-title">New Message</h3>
                </div><!-- /.box-header -->
                <div class="box-body pad">
                  <form method="POST" action="@controllers.routes.Developers.submitResponse()">
                  	<input type="hidden" value="@issue.getId" name="issueId">
                    <textarea class="textarea col-md-12 form-control" placeholder="Place some text here" id="wysiwyg" name="comment"></textarea>
                    <div style="clear:both"></div>
                    <button class="btn btn-success pull-right" style="margin-top:10px">Send</button>
                  </form>
                </div>
              </div>

	        </div>
	    </div>
    </section>
</div>
} {
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/style.min.css")">
} {
	@*<script type="text/javascript" src="@routes.Assets.versioned("javascripts/admin/projects.js")"></script>*@
}("green")