@(issue: Issue, issueResponseList: List[IssueResponse], error: Boolean)

@import views.html.developer.developer_navbar
@import play.Play

@main("Developer - Issue") {
	@developer_navbar(Com.DEVELOPER_PAGE_NAMES(1))
} {

<script>
	var Routes = {
		changeIssueStatus: "@controllers.routes.Developers.changeIssueStatus(issue.getId)"
	};
	var Preset = {
		status: "@issue.getStatus"
	};

</script>

<div ng-controller="SingleIssueController">
	 @if(error) {
      <div class="callout callout-danger">
        <h4>Message too short!</h4>
        <p>You have submitted an empty or a short message. Please try again.</p>
      </div>
    }
	<section class="content">
		<div class="row">
			<div class="col-md-12">
	          <div class="box-issue">
	            <div class="box-header">
	            	<h3 class="box-title" style="float:left">@issue.getTitle</h3>
	            @if(issue.getStatus.equals("Solved")){
	            	<div class="issue-status" ng-green-text="status=='Waiting Approval'" style="font-size: 16px;float: left;clear: left;padding-top: 10px;">{{status}}</div>
	            	<a ng-if="status!='Waiting Approval'" class="issue-status btn btn-primary" style="clear:right; display:none;" ng-click="changeIssueStatus()">Waiting Approval</a>
	            } else{
	            <div class="issue-status" style="font-size: 16px;float: left;clear: left;padding-top: 10px;">{{status}}</div>
	            <a ng-if="status!='Waiting Approval'" class="issue-status btn btn-primary" style="clear:right" ng-click="changeIssueStatus()" >Waiting Approval</a>
	        }
	           		<span style="clear:left; float:left">#@issue.getId</span>
	            </div>

	            <div class="box-body">
	                <div>@Html(issue.getText)</div>
	            </div>
	          </div>

	          	@issueResponseList.map { issueResponse  =>  
		          	@if(issueResponse.getUserType.equals("Developer")) {   
						<div class="callout callout-green-border">
					}
					@if(issueResponse.getUserType.equals("Tester")) {
						<div class="callout callout-blue-border">
					}
						<div class="comm-time">@Com.formatTimestamp(issueResponse.getTimestamp)</div>
			        	<h4>@issueResponse.getUser</h4>
			        	<p>@Html(issueResponse.getContent)</p>
			    	</div>
				}

	          <div class="box">
                <div class="box-header">
                  <h3 class="box-title">New Message</h3>
                </div><!-- /.box-header -->
                <div class="box-body pad">
                  <form method="POST" action="@controllers.routes.Developers.submitResponse()">
                  	<input type="hidden" value="@issue.getId" name="issueId">
                    <textarea class="textarea col-md-12 form-control" placeholder="Place some text here" id="wysiwyg" name="comment" style="max-width: 100%;"></textarea> 
                    <div style="clear:both"></div>
                    <button class="btn btn-success pull-right" style="margin-top:10px" >Send</button>
                  </form>
                </div>
              </div>

	        </div>
	    </div>
    </section>
</div>
} {
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/style.min.css")">
} {
	<script type="text/javascript" src="@routes.Assets.versioned("javascripts/developer/single-issue.js")"></script>
}("green")